<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttt.demo.boottest.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ttt.demo.boottest.entity.User">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
    </resultMap>

    <select id="getUserById" resultMap="BaseResultMap">
        select * from t_user where id=#{id}
    </select>

    <select id="listAllUser" resultMap="BaseResultMap" resultType="java.util.List">
        SELECT * FROM t_user
    </select>

    <update id="updateUser" parameterType="User">
        update t_user set username=#{username} where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="User">
        delete from t_user where id=#{id}
    </delete>

    <insert id="addUser" parameterType="User">
       insert into t_user(`id`,`username`) VALUES (#{id},#{username})
    </insert>
</mapper>